<body>
  <h1>
  	ようこそ
		<strong>Bookers</strong>
	へ！
  </h1>
	<p class='home-font'>
		<strong>Bookers</strong>
		では、さまざまな書籍に関するあなたの意見や
	</p>
	<p class='home-font'>印象を共有し交換することができます</p>
	<p class='home-font'><%= link_to "start","/books" %></p>
</body>